p{
   font-size: large;
}

.block {
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.sup {
  position: relative;
  bottom: 1ex; 
  font-size: 80%;
}

